*{
    padding:0;
    margin:0;
}

section {
    width : 80%;
    margin:auto;
    margin-top:5px;
    display : grid;
    justify-items: center;

    grid-template-columns: repeat(3 , 1fr);
    grid-template-columns: auto;
}

.cards {
    width:500px;
    padding:20px;
}

.cards:hover{
    box-shadow : 0 10px 10px 10px rgba(0,0,0,0.1);
    cursor:pointer;
}
/* 
.image-box img{
    width:250px;
    height:250px;
} */

.details p:nth-child(1){
    font-weight:bold;
}

.details p:nth-child(2){
    color:gray;
    font-size:0.8rem;
}

 .btn{
    padding:5px 10px;
    border:none;
    font-weight:bold;
    background-color:skyblue;
    outline:none;
    cursor:pointer;
}
